.contenedor-fluido {
  border: 1px solid red;
  height: 500px;
  margin: 80px 150px;
  max-width: 100%;
  box-sizing: border-box;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

canvas {
  border: 1px solid #000;
}